// Common styles
.menu {
  .active {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
  }

  ion-button {
    margin-bottom: 8px;
    text-align: left;
    justify-content: flex-start;
  }
}

.right {
  flex: 1;
}

// Ensure proper sizing
ion-split-pane {
  height: 100%;
}
