@if (player.isPlaying() && player.currentEpisode().id === episode.id) {
<ion-button
  (click)="onPause($event)"
  shape="round"
  [color]="fill ? 'primary' : 'light'"
  [size]="fill ? 'medium' : 'large'"
  [fill]="fill ? 'solid' : 'clear'"
>
  <ion-icon
    slot="icon-only"
    name="pause"
    [size]="fill ? 'medium' : 'large'"
  ></ion-icon>
</ion-button>
} @else {
<ion-button
  (click)="onPlay($event)"
  shape="round"
  [color]="fill ? 'medium' : 'light'"
  [size]="fill ? 'medium' : 'large'"
  [fill]="fill ? 'solid' : 'clear'"
>
  <ion-icon
    slot="icon-only"
    name="play"
    [size]="fill ? 'medium' : 'large'"
  ></ion-icon>
</ion-button>
}
