<div class="toolbar">
  @if (title) {
  <h2>{{ title }}</h2>
  } @if (showToggle) {
  <div class="toggle">
    <ion-button [class.active]="isList" fill="clear" (click)="toggleLayout()">
      <ion-icon [name]="'list-outline'"></ion-icon>
    </ion-button>

    <ion-button [class.active]="!isList" fill="clear" (click)="toggleLayout()">
      <ion-icon [name]="'grid-outline'"></ion-icon>
    </ion-button>
  </div>
  }
</div>

@if (!isList) {
<ion-grid [fixed]="true">
  <ion-row>
    @for (item of items; track $index) {
    <ion-col size="6" size-md="4">
      <app-list-item [item]="item"></app-list-item>
    </ion-col>
    }
  </ion-row>
</ion-grid>
} @else {
<ion-list>
  @for (item of items; track $index) {
  <ion-item lines="none">
    <app-list-item [item]="item" [inList]="true"></app-list-item>
  </ion-item>
  }
</ion-list>

}
