<ion-menu side="end" menuId="menu" type="push" contentId="main-content">
  <div class="menu ion-padding">
    @for (item of menuItems; track $index) {

    <ion-menu-toggle>
      <ion-button
        fill="clear"
        [routerLink]="item.link"
        [routerLinkActive]="'active'"
        expand="block"
      >
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        {{item.title}}
      </ion-button>
    </ion-menu-toggle>

    }
  </div>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-router-outlet></ion-router-outlet>
</div>
