:host {
  .menu {
    display: flex;
    flex-direction: column;
  }

  ion-button {
    --color: #000;

    &.active {
      --color: var(--ion-color-primary);
      --background: var(--background-color);
    }
  }
}
