<ion-content class="ion-padding">
  <div class="info">
    <div class="title">
      <h6>{{ podcast.host_name }}</h6>

      <h2>{{ podcast.title }}</h2>
    </div>

    <p>
      {{ podcast.description }}
    </p>

    <div class="links">
      <ion-icon name="home-outline" size=""></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="mail-outline"></ion-icon>
      <ion-icon name="cash-outline"></ion-icon>
    </div>
  </div>
</ion-content>
