<app-header></app-header>

<ion-content [fullscreen]="false">
  <div class="page-content ion-padding">
    <h1>Welcome to Pacificaster!</h1>

    <h5>If you are a podcaster who is not at a Pacifica-affiliate station....</h5>

    <p>
    You are welcome to apply as an Independent producer...
    </p>

    <p>
      <a href="https://user.pacificaster.org/node/add/independent_producer_application" target="_blank">Apply as an Independent Producer</a>
    </p>

    
    <h5>Podcasts from Pacifica-Affiliate Stations...</h5>

    <p>
      Podcasters at Pacifica-affiliate stations can get their accounts through their local station, if their station has signed up with this website. 
    </p>

    <h5>Affiliate Stations:</h5>

    <p>
      Pacifica-affiliate stations can receive umbrella accounts with this website. Under these umbrella accounts they can give podcasters at their stations accounts for distributing their  work. Stations will also receive a page on this website featuring the podcasts from their station.
    </p>

    <p>
      <a href="https://user.pacificaster.org/node/add/applicants" target="_blank">Apply as an Affiliate Station</a>
    </p>

    <p>
      Thank you for your interest.
    </p>


  </div>
</ion-content>
