<app-header></app-header>

<ion-content [fullscreen]="false">
  <div class="page-content ion-padding">
    <h1>Welcome to Pacificaster!</h1>

    <p>
      With Pacificaster, you can get the exposure you've wanted.
      <br>
      Apply to start your podcast, so you can publish your work.
    </p>

    
    <h5>Affiliate Station</h5>

    <p>
      As a Pacifica network member station, you can receive an umbrella account under which you can give podcasters at your station accounts for distributing their podcasts. Your station will also have a page on the site featuring your local podcast network.
    </p>

    <p>
      <a href="https://user.pacificaster.org/node/add/applicants" target="_blank">Apply as an Affiliate Station</a>
    </p>

    <h5>Podcaster at a Pacifica Network Station</h5>

    <p>
      If you are at a Pacifica member station, you can get an account through your station, if they have signed up with this website.
    </p>

    <p>
      Contact your local management.
    </p>

    <h5>Independent Producer</h5>

    <p>
      You are welcome to apply if you are not part of the Pacifica network, and your podcast will be evaluated with the same criteria and point system as all other podcasts.
    </p>

    <p>
      Thank you for your interest.
    </p>

    <p>
      <a href="https://user.pacificaster.org/node/add/independent_producer_application" target="_blank">Apply as an Independent Producer</a>
    </p>
  </div>
</ion-content>
