<app-header></app-header>

<ion-content [fullscreen]="false">
  <div class="page-content ion-padding">
    <div class="title">
      <h3>Welcome to Pacificaster!</h3>
    </div>

    <p>
      If you want to become a Network member, contact our director, Ursula
      Ruedenberg, at
      <a href="mailto:ursula@pacifica.org">ursula&#64;pacifica.org</a> or fill
      out the
      <a href="http://pacificanetwork.org/?page_id=88"
        >Affiliate Interest Application</a
      >&nbsp;on our website. You will be provided a contract to to sign and
      become a member. Once you are approved, you will be receive an email to
      create your account and begin publishing your work! People will come to
      Pacificaster and find and listen to your podcasts, so you can get the
      exposure you've wanted.
    </p>
  </div>
</ion-content>
