:host {
  display: block;

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      padding: 2rem;
      display: flex;
      justify-content: center;

      h3 {
        font-size: 1.6rem;
        font-weight: 400;
      }
    }

    p {
      line-height: 1.5;
    }

    a {
      color: var(--ion-color-primary);
      font-weight: bold;
    }
  }
}
