:host {
  display: flex;
  position: relative;
  height: 100px;

  canvas {
    position: absolute;
    left: 50%;
    transition: margin-left 1s linear;
  }

  .cursor {
    position: absolute;
    width: 2px;
    height: 100px;
    background: #fff;
    z-index: 1;
    left: 50%;
  }
}
