<div class="waveform" [class.inLimitedSpace]="inLimitedSpace">
  <div #waveformContainer class="waveform-container" [style.height]="height + 'px'">
    <canvas #canvas [height]="height" [class.animation]="!player.isSeeking"></canvas>
  </div>

  <span class="cursor" [style.height]="height + 'px'"></span>
</div>

<div class="times" [class.hidden]="!player.isSeeking">
  <span class="backdrop">{{ (player.timeStartSeeking) + seek | timeline }}</span>

  <span class="line"></span>

  <span class="backdrop"> {{ seek }} seconds</span>
</div>
