<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="primary"
        text=""
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>
      <a [routerLink]="'/'">
        <div class="header-logo-container">
          <img class="header-logo" src="assets/images/main-logo.png" alt="Main Logo" />
        </div>
      </a>
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
