<div class="top">
  <app-thumbnail
    [src]="episode.image_url"
    [alt]="episode.title"
    size="small"
  ></app-thumbnail>

  <div class="info">
    <p class="title">
      {{ episode.title }}
    </p>
    <span>{{ episode.published_at | date : "dd MMM YYYY" }}</span>
  </div>

  <app-play-button [episode]="episode"></app-play-button>
</div>

@if (episode.description) {
<div
  class="description"
  [class.expanded]="isDescriptionExpanded"
  (click)="onDescription()"
>
  <div [innerHTML]="episode.description"></div>
</div>
} @if (!isDescriptionExpanded) {
<ion-button size="small" fill="clear">
  <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
</ion-button>
} @else {
<ion-button size="small" fill="clear"> Click to view more </ion-button>
}
