:host {
  display: block;

  ion-img {
    border: 1px solid #93939350;
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;

    &.small {
      width: 4rem;
      border-radius: 0.6rem;
    }

    &.medium {
      width: 8rem;
    }

    &.large {
      width: 12rem;
    }
  }
}
