<ion-content class="ion-padding">
  <div class="modal-info">
    <app-thumbnail
      [src]="episode.image_url"
      [alt]="episode.title"
      size="medium"
    ></app-thumbnail>

    <div class="title">
      <h2>{{ episode.title }}</h2>

      <app-play-button [episode]="episode"></app-play-button>
    </div>

    <div class="description" [innerHTML]="episode.description"></div>

    <div class="bottom">
      <p class="date">{{ episode.published_at | date : "dd MMM YYYY" }}</p>

      <div class="host">
        <p>Hosted by:</p>
        <h6>
          {{ episode.host_name }}
        </h6>
      </div>
    </div>
  </div>
</ion-content>
