<ion-content class="ion-padding">
  <div class="modal-info">
    <div class="top">
      <app-thumbnail
        [src]="episode.image_url"
        [alt]="episode.title"
        [size]="isMobile ? 'medium' : 'large'"
      ></app-thumbnail>

      <div class="right">
        <div class="title">
          <h2>{{ episode.title }}</h2>

          <p class="date">{{ episode.published_at | date : "dd MMM YYYY" }}</p>
        </div>

        <app-play-button [episode]="episode"></app-play-button>
      </div>
    </div>

    <div class="description" [innerHTML]="episode.description"></div>

    <div class="bottom">
      <p class="date">{{ episode.published_at | date : "dd MMM YYYY" }}</p>

      <div class="host">
        <p>Hosted by:</p>
        <h6>
          {{ episode.host_name }}
        </h6>
      </div>
    </div>

    <div class="footer">
      <h4>Podcast</h4>

      <a>{{ podcast.title }}</a>
    </div>
  </div>
</ion-content>
