:host {
  display: block;

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title  {
      display: flex;
      flex-direction: column;

      span {
        font-size: 0.8rem;
        opacity: 0.7;
      }
    }
  }

  .description {
    margin-top: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
