<app-header></app-header>

<ion-content [fullscreen]="false">
  <div class="page-content ion-padding">
    <div class="title">
      <h3>Contact</h3>
    </div>

    <div class="contact-info">
      <p><strong>Ursula Rudenberg</strong>, Network Manager</p>
      <a href="mailto:ursula@pacifica.org">ursula&#64;pacifica.org</a>
      <a href="tel:510-812-7989">(510) 812-7989</a>
    </div>

    <div class="contact-info">
      <p><strong>Stephanie Schubert</strong>, Operations Coordinator</p>
      <a href="mailto:stephanie@pacifica.org">stephanie&#64;pacifica.org</a>
    </div>
  </div>
</ion-content>
