<app-header></app-header>

<ion-content [fullscreen]="false">
  <div class="page-content ion-padding">
    <ion-img
      width="318"
      height="164"
      src="https://user.pacificaster.org/sites/default/files/page/about/cup_1.jpg"

    ></ion-img>

    <p>
      At Pacificaster.org we want to inspire you with ideas and information that encourage humanitarian democracy. We are a service from Pacifica Network. Here, you will find a curated collection of non-commercial podcasts. The people who make them are radio producers at community-based radio stations, Internet stations, or independent podcasters with grassroots vision.
    </p>

    <h2>Why use this platform?</h2>

    <p>
      Whether you are a listener or producer, you will break through the noise of busy catch-all platforms and commercial productions and connect with the progressive mission based in local community that Pacifica has historically championed.
    </p>

    <h3>If you are a podcast listener:</h3>

    <p>
      Explore from our growing list of podcasts. Or, for a more local connection, start by exploring the podcasts offered from each local affiliate radio station. The list of participating stations is ever-growing - so check in occasionally!
    </p>

    <h3>If you are a podcast producer:</h3>

    <p>
      If you are at a Pacifica Network affiliated station, first inquire with your local station management to find out if they have a Pacificaster contributors’ account. If so, your local station managers can start the process of applying for your account.
    </p>

    <p>
      If you are an independent producer, not at a Pacifica Network affiliate, you can apply to have your podcast hosted by Pacificaster or, if you have an existing podcast, to have it added to Pacificaster via your RSS feed.
    </p>

    <hr>

    <h2>Pacifica Foundation</h2>

    <p>
      Pacificaster.org is a service of <a href="https://pacifica.org/">Pacifica Foundation</a>, the media group that pioneered community radio in the United States, representing and serving local community. The organization originated with the creation of KPFA in 1946 in Berkeley, California. Today, Pacifica owns five radio stations: WBAI in New York City, WPFW in Washington DC, KPFT in Houston Texas, KPFK in Los Angeles, and KPFA in the San Francisco Bay Area.
    </p>

    <p>
      Historically, Pacifica has broken pivotal news stories and introduced issues and artists overlooked by mainstream media, playing a historic and unique role in American free and democratic media.
    </p>

    <!--
    <p>
      The Pacifica mission is (Mission statement needs to be added).
    </p>
    -->

    <p>
      Pacifica’s affiliate network advances and supports grassroots democratic media: a dynamic collaboration of media-makers that includes more than 200 community-based radio and Internet stations and more than 100 independent producers in the United States, Canada, and Europe.
    </p>

    <p>
      If you have a radio or internet station interested in affiliating with Pacifica Network, or if you are an independent radio producer wishing to distribute radio shows to Pacifica Network radio stations, contact our manager.
    </p>

  </div>
</ion-content>
