:host {
  display: block;

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    p {
      line-height: 1.5;
    }

    a {
      color: var(--ion-color-primary);
      font-weight: bold;
    }
  }
}
