:host {
  display: block;
  width: 100%;

  a {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;

    &:hover {
      app-thumbnail {
        transition: transform 0.1s ease-in;
        transform: scale(1.02);
      }
    }

    h2 {
      font-size: 1rem;
    }

    &.in-list {
      flex-direction: row;
      align-items: center;
      gap: 1rem;

      padding: 1rem;
      width: 100%;
      background-color: var(--background-color);
      border-radius: var(--radius);
      margin-top: 1rem;
    }
  }
}
