@if (podcast) {
<ion-header collapse="fade">
  <ion-toolbar [class.transparent]="!isViewDidEnter">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>{{podcast.title}}</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="podcast-info ion-padding">
    <div class="top">
      <app-thumbnail
        [src]="podcast.image_url"
        [alt]="podcast.title"
        [size]="'medium'"
      ></app-thumbnail>

      <div class="right">
        <h2 class="podcast-title">{{podcast.title}}</h2>

        <div class="links">
          @for (item of podcast.social; track $index) { @if ( item.url ) {
          <a [href]="item.type === 'mail' ? 'mailto:' + item.url : item.url">
            <ion-icon [name]="item.icon"></ion-icon> </a
          >} }
        </div>
      </div>
    </div>

    <p class="description">{{podcast.description_short}}</p>

    <div class="bottom">
      <p>Hosted by:</p>
      <h6>{{podcast.host_name}}</h6>
    </div>
  </div>

  <app-episode-list [episodes]="podcast.episodes"></app-episode-list>
</ion-content>
}
