@if (isMobile) {
<app-header></app-header>
} @if (podcast) {
<ion-content [fullscreen]="false">
  <div class="page-content podcast-info ion-padding">
    <div class="top">
      <app-thumbnail
        [src]="podcast.image_url"
        [alt]="podcast.title"
        [size]="'medium'"
      ></app-thumbnail>

      <div class="right">
        <h2 class="podcast-title">{{podcast.title}}</h2>

        <div class="links">
          @for (item of podcast.social; track $index) { @if ( item.url ) {
          <a [href]="item.type === 'mail' ? 'mailto:' + item.url : item.url">
            <ion-icon [name]="item.icon"></ion-icon> </a
          >} }
        </div>
      </div>
    </div>

    <p class="description">{{podcast.description_short}}</p>

    <div class="bottom">
      <p>Hosted by:</p>
      <h6>{{podcast.host_name}}</h6>
    </div>
    <app-episode-list [episodes]="podcast.episodes"></app-episode-list>
  </div>

  @if(player.isInitialized() && !isMobile && !isSidebar){
  <div class="bottom-bar">
    <app-player-modal [inLimitedSpace]="true"></app-player-modal>
  </div>
  }
</ion-content>
} @else if(podcastNotFound === false && someTimePassed) {
<app-not-found itemType="Podcast"></app-not-found>
} @else {
<app-loading [message]="'Loading podcast...'"></app-loading>
}
