:host {
  display: block;

  .page-content {
    max-width: 900px;
  }

  .site-logo {
    display: flex;
    justify-content: flex-start;
    height: 10rem;
    padding: 1rem;

    ion-img {
      object-fit: contain;
      height: 100%;
      width: auto;
    }
  }
}
