<ion-split-pane when="sm" contentId="main">
  <ion-menu contentId="main" class="left">
    <ion-router-outlet [animated]="false"></ion-router-outlet>
  </ion-menu>

  <div id="main" class="right ion-page">
    <ion-header [translucent]="true">
      <ion-toolbar>
        <ion-title>
          <img
            class="site-logo mini"
            src="assets/images/main-logo.png"
            alt=""
          />
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content [fullscreen]="true">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">
            <img class="site-logo" src="assets/images/main-logo.png" alt="" />
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <app-podcast-list
        [title]="'Podcasts'"
        [podcasts]="podcastService.podcasts()"
      ></app-podcast-list>
    </ion-content>
  </div>
</ion-split-pane>
