@if (isMobile) {
<app-header></app-header>
}
<ion-content [fullscreen]="false">
  @if (!isMobile) {
  <div class="header-logo-container">
    <ion-img
      class="header-logo"
      src="assets/images/main-logo-big.png"
    ></ion-img>
  </div>
  }

  <div class="page-content">
    <app-list
      [title]="'Podcasts'"
      [items]="podcastService.podcasts()"
      [showToggle]="true"
      [isList]="isList()"
      (layoutChanged)="onLayoutChange($event)"
    ></app-list>

    <app-list
      [title]="'Affiliates'"
      [items]="podcastService.affiliates()"
      [isList]="isList()"
    ></app-list>
  </div>

  @if(player.isInitialized() && !isMobile){
    <div class="bottom-bar">
      <app-player-modal [inLimitedSpace]="true"></app-player-modal>
    </div>
  }

</ion-content>
