<ion-list>
  <ion-list-header>
    <ion-label>Podcast Episodes</ion-label>
  </ion-list-header>

  @if(episodes && episodes.length > 0) {
  <ion-item lines="none">
    <a
      class="rss-link"
      href="#"
      (click)="copyRssLink($event, 'https://user.pacificaster.org/podcasts/' + episodes[0].podcast_id + '/rss.xml')"
    >
      <ion-icon name="logo-rss"></ion-icon>Copy Pacificaster RSS feed
    </a>
  </ion-item>

  } @for (episode of episodes; track $index) {
  <ion-item lines="none">
    <app-episode-list-item [episode]="episode"></app-episode-list-item>
  </ion-item>
  }
</ion-list>
