:host {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: var(--background-color-dark);

  .custom-player {
    display: flex;
    align-items: center;
    padding: 0.25rem;
    gap: 1rem;
    width: 100%;

    max-width: 900px;

    .info {
      flex: 1;

      .host {
        font-size: 0.8rem;
        color: var(--ion-color-primary);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
        margin-bottom: 0.25rem;
      }

      .title {
        font-size: 0.9rem;
        font-weight: 500;
        color: white;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .time {
        font-size: 0.8rem;
        color: white;
      }
    }
  }
}
