<ion-footer translucent="true">
  <ion-toolbar>
    <div class="custom-player" (click)="openModal($event)">
      <app-thumbnail
        [src]="player.currentEpisode().image_url"
        [alt]="player.currentEpisode().title"
        [size]="'small'"
      ></app-thumbnail>

      <div class="info">
        <h3 class="title">{{ player.currentEpisode().title }}</h3>
        <h5 class="time">
          {{ player.currentTime | timeline }} /
          {{ player.totalDuration | timeline }}
        </h5>
      </div>

      <app-play-button [episode]="player.currentEpisode()"></app-play-button>
    </div>

    <app-player-timeline></app-player-timeline>
  </ion-toolbar>
</ion-footer>
