<div
  [class.ion-padding]="!inLimitedSpace"
  [style.padding]="inLimitedSpace ? '5px' : undefined"
  [class.limitedSpace]="inLimitedSpace"
  class="wrapper"
>
  @if(!inLimitedSpace){
  <ion-buttons>
    <ion-button (click)="cancel()" fill="clear">
      <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
  <div
    class="background"
    (mouseup)="!isTouchDevice && mouseUp($event)"
    (touchend)="isTouchDevice && onTouched($event)"
  >
    <img
      [src]="player.currentEpisode().image_url"
      [alt]="player.currentEpisode().title"
    />
    <div class="overlay"></div>
  </div>

  <!-- Pause Overlay -->
  @if (showPauseOverlay) {
  <div
    class="pause-overlay"
    (mouseup)="!isTouchDevice && mouseUp($event)"
    (touchend)="isTouchDevice && onTouchendPlay($event)"
  >
    <ion-icon name="play-circle"></ion-icon>
  </div>
  }
  <div>
    <div class="title-wrapper">
      @if(inLimitedSpace){
      <ion-buttons class="title-left-buttons">
        <ng-container *ngTemplateOutlet="episodeInfoButtonTemplate"></ng-container>
      </ion-buttons>
      }
      
      <div class="title-center-area"
        (mouseup)="!isTouchDevice && mouseUp($event)"
        (touchend)="isTouchDevice && onTouched($event)"
      >
        <div
          class="backdrop title"
          [class.limitLengthOfTextUnlessHovered]="inLimitedSpace"
        >
          <h2>
            {{ player.currentEpisode().title }}
          </h2>
          <h3
            [class.onlyShowOnHoverOfWrapper]="
              player.currentEpisode().title.length > 40
            "
          >
            @if(inLimitedSpace){
            <span>|</span>
            }
            {{ player.currentEpisode().host_name }}
          </h3>
        </div>
      </div>
      
      @if(inLimitedSpace){
      <ion-buttons class="title-right-buttons">
        <ng-container *ngTemplateOutlet="toolsButtonsTemplate"></ng-container>
      </ion-buttons>
      }
    </div>
    
    <div class="header">
      @if(inLimitedSpace){
      <div
        class="times-centered"
        (mouseup)="!isTouchDevice && mouseUp($event)"
        (touchend)="isTouchDevice && onTouched($event)"
      >
        <ng-container *ngTemplateOutlet="timeProgressTemplate"></ng-container>
      </div>
      }
    </div>

    <!-- Modal Content -->
    <div
      class="modal-content"
      [style.gap]="inLimitedSpace ? '0.2rem' : '1rem'"
      (touchend)="isTouchDevice && onTouched($event)"
      (touchmove)="isTouchDevice && onTouchMove($event)"
      (mousedown)="!isTouchDevice && mouseDown($event)"
      (mousemove)="!isTouchDevice && mouseMove($event)"
      (mouseup)="!isTouchDevice && mouseUp($event)"
    >
      <app-player-waveform
        [inLimitedSpace]="inLimitedSpace"
        [totalDuration]="player.totalDuration"
      ></app-player-waveform>

      <div class="times onlyShowOnHoverOfWrapper">
        @if (!inLimitedSpace){
        <ng-container *ngTemplateOutlet="timeProgressTemplate"></ng-container>
        <ng-container *ngTemplateOutlet="totalDurationTemplate"></ng-container>
        }
      </div>
    </div>
  </div>

  <div [class.hidden]="showPauseOverlay" class="footer">
    @if(!inLimitedSpace){
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ng-container *ngTemplateOutlet="toolsButtonsTemplate"></ng-container>
      </ion-buttons>

      <ion-buttons slot="secondary">
        <ng-container
          *ngTemplateOutlet="episodeInfoButtonTemplate"
        ></ng-container>
      </ion-buttons>
    </ion-toolbar>
    }

    <app-player-timeline></app-player-timeline>
  </div>
</div>

<ng-template #totalDurationTemplate
  ><span class="backdrop">{{
    player.totalDuration | timeline
  }}</span></ng-template
>

<ng-template #timeProgressTemplate>
  <div class="top">
    <span class="backdrop">{{ currentTime | timeline }}</span>
    <span class="backdrop">{{
      player.totalDuration - currentTime | timeline
    }}</span>
  </div>
</ng-template>

<ng-template #episodeInfoButtonTemplate>
  <ion-button
    class="tool"
    (click)="onEpisodeDetail()"
    [class.hidden]="showPauseOverlay"
  >
    Episode Info
  </ion-button>
</ng-template>

<ng-template #toolsButtonsTemplate>
  <ion-select
    class="tool"
    [class.hidden]="showPauseOverlay"
    interface="popover"
    [(ngModel)]="selectedSpeed"
    (ngModelChange)="onSpeedChange($event)"
  >
    @for (item of speedOptions; track $index) {
    <ion-select-option [value]="item">{{ item }}X</ion-select-option>
    }
  </ion-select>
  <ion-button class="tool" [class.hidden]="showPauseOverlay">
    <ion-icon
      slot="icon-only"
      name="share-social-outline"
      (click)="onShare()"
    ></ion-icon>
  </ion-button>
</ng-template>