:host {
  ion-header {
    --background: transparent;

    ion-toolbar {
      --background: transparent;
      --border-color: transparent;
    }
  }
  ion-footer {
    --background: transparent;

    ion-toolbar {
      --background: transparent;
      --border-color: transparent;

      app-player-timeline {
        padding: 0 0.5rem 0.5rem 0.5rem;
      }
    }
  }

  .background {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    .overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .pause-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #501212;
    opacity: 0.6;

    ion-icon {
      width: 100%;
      height: 100%;
      color: white;
      scale: 1.5;
    }
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    gap: 1rem;
    position: relative;
    z-index: 1;

    .backdrop {
      background-color: rgba(56, 58, 62, 0.52);
      padding: 0.5rem;
      border-radius: var(--radius);
      color: white;
      width: fit-content;
      text-align: center;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;

      h2 {
        font-size: 1.6rem;
        font-weight: 700;
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 500;
      }
    }

    .times {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      .top {
        display: flex;
        gap: 0.5rem;

        span {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }

      span {
        font-size: 1rem;
        font-weight: 500;
      }

      .line {
        display: block;
        width: 2px;
        height: 100%;
        background-color: rgba(56, 58, 62, 0.52);
      }
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .tools {
      display: flex;
      gap: 0.5rem;

      .tool {
        border: 1px solid var(--ion-color-primary);
        background-color: white;
        color: var(--ion-color-primary);
        font-size: 1.2rem;
        min-width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 1.5rem;

        &:first-child {
          font-size: 1rem;
          padding: 0 1rem;
        }
      }
    }

    app-play-button {
      ion-button {
        font-size: 1.2rem;
      }
    }
  }
}
