<div
  [class.ion-padding]="!inLimitedSpace"
  [style.padding]="inLimitedSpace ? '5px' : undefined"
  [class.limitedSpace]="inLimitedSpace"
  class="wrapper"
>
  @if(!inLimitedSpace){
  <ion-buttons>
    <ion-button (click)="cancel()" fill="clear">
      <ion-icon slot="icon-only" name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  }
  <div
    class="background"
    (mouseup)="!isTouchDevice && mouseUp($event)"
    (touchend)="isTouchDevice && onTouched($event)"
  >
    <img
      [src]="player.currentEpisode().image_url"
      [alt]="player.currentEpisode().title"
    />
    <div class="overlay"></div>
  </div>

  <!-- Pause Overlay -->
  @if (showPauseOverlay) {
  <div
    class="pause-overlay"
    (mouseup)="!isTouchDevice && mouseUp($event)"
    (touchend)="isTouchDevice && onTouchendPlay($event)"
  >
    <ion-icon name="play-circle"></ion-icon>
  </div>
  }

  <!-- Modal Content -->
  <div
    class="modal-content"
    [style.gap]="inLimitedSpace ? '0.2rem' : '1rem'"
    (touchend)="isTouchDevice && onTouched($event)"
    (touchmove)="isTouchDevice && onTouchMove($event)"
    (mousedown)="!isTouchDevice && mouseDown($event)"
    (mousemove)="!isTouchDevice && mouseMove($event)"
    (mouseup)="!isTouchDevice && mouseUp($event)"
  >
    <div class="header">
      @if(inLimitedSpace){
      <ion-buttons class="onlyShowOnHoverOfWrapper">
        <ng-container
          *ngTemplateOutlet="episodeInfoButtonTemplate"
        ></ng-container>
      </ion-buttons>
      }
      <div class="title backdrop">
        <h2>{{ player.currentEpisode().title }}</h2>
        @if(inLimitedSpace){
        <span>|</span>
        }
        <h3>{{ player.currentEpisode().host_name }}</h3>
      </div>

      @if(inLimitedSpace){
      <ion-buttons class="onlyShowOnHoverOfWrapper">
        <ng-container *ngTemplateOutlet="toolsButtonsTemplate"></ng-container>
      </ion-buttons>
      }
    </div>

    <app-player-waveform
      [totalDuration]="player.totalDuration"
    ></app-player-waveform>

    <div class="times onlyShowOnHoverOfWrapper">
      <div class="top">
        <span class="backdrop">{{ currentTime | timeline }}</span>
        <span class="line"></span>
        <span class="backdrop">{{
          player.totalDuration - currentTime | timeline
        }}</span>
      </div>
      @if (!inLimitedSpace){
      <ng-container *ngTemplateOutlet="totalDurationTemplate"></ng-container>
      }
    </div>
  </div>

  <div [class.hidden]="showPauseOverlay" class="footer onlyShowOnHoverOfWrapper">
    @if(!inLimitedSpace){
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ng-container *ngTemplateOutlet="toolsButtonsTemplate"></ng-container>
      </ion-buttons>

      <ion-buttons slot="secondary">
        <ng-container
          *ngTemplateOutlet="episodeInfoButtonTemplate"
        ></ng-container>
      </ion-buttons>
    </ion-toolbar>
    }

    <app-player-timeline></app-player-timeline>
  </div>
</div>

<ng-template #totalDurationTemplate
  ><span class="backdrop">{{
    player.totalDuration | timeline
  }}</span></ng-template
>

<ng-template #episodeInfoButtonTemplate>
  <ion-button
    class="tool"
    (click)="onEpisodeDetail()"
    [class.hidden]="showPauseOverlay"
  >
    Episode Info
  </ion-button>
</ng-template>

<ng-template #toolsButtonsTemplate>
  <div class="tools" [class.hidden]="showPauseOverlay">
    <div class="tool">
      <ion-select
        interface="popover"
        [(ngModel)]="selectedSpeed"
        (ngModelChange)="onSpeedChange($event)"
      >
        @for (item of speedOptions; track $index) {
        <ion-select-option [value]="item">{{ item }}X</ion-select-option>
        }
      </ion-select>
    </div>
    <div class="tool">
      <ion-icon
        slot="icon-only"
        name="share-social-outline"
        (click)="onShare()"
      ></ion-icon>
    </div>
  </div>
</ng-template>
